<% if @memorabilia.errors.any? %>
  <%= render partial: 'errors', locals: {memorabilia: @memorabilia}%>
<% end %>
<%= form_for(@memorabilia) do |f| %>
  <%= f.label :item_type %>
  <%= f.text_field :item_type %>
  <br>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <br>
  <%= f.label :autographed %>
  <%= f.check_box :autographed %>
  <br>
  <% if params[:athlete_id] %>
        <%= f.hidden_field :athlete_id %>
    <% else %>
        <h3>Select an existing athlete</h3>
        <%= athlete_select(@memorabilia) %>
        <p> Or create a new one <br><br>
        <%= f.fields_for :athlete, @athlete do |ath| %>
            <%= ath.text_field :name, placeholder: "Name" %>
            <%= ath.text_field :team, placeholder: "Team" %>
            <%= ath.label :active %>
            <%= ath.check_box :active %>
        <% end %></p>
    <% end %>
    <%= f.submit class: "btn btn-secondary btn-sm text-white" %>
<% end %>