<h2>Fill out your memorabilia here!</h2>

<%= form_for @memorabilia do |f| %>
 
  <%= f.label :item_type %>
  <%= f.text_field :item_type %>
 
  <p> Select an athlete here or create a new one in the fields below!!</p>
  <%= athlete_select(@memorabilia) %>
 
  <%= f.text_field :ahtlete_name %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :autographed %>
  <%= f.check_box_tag :autographed %>
  
  <%= f.submit %>
<% end %>