 <% if @memorabilia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memorabilia.errors.count, "error") %> prohibited this memorabilia from being saved:</h2>
      <ul>
        <% @memorabilia.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@memorabilia) do |f| %>
  <%= f.label :item_type %>
  <%= f.text_field :item_type %>
  <br>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br>
  <%= f.label :autographed %>
  <%= f.check_box :autographed %>
  <br>
  <% if @athlete.id %>
    <%= f.hidden_field :athlete_id, :value => @athlete.id %>
  <% else %>
    <p>Fill out the athlete below!<p>
    <% binding.pry %>
    <%= select_tag "memorabilia[athlete]", options_from_collection_for_select(Athlete.all., :id, :name) %><br>
    <%= f.fields_for :athlete, @athlete do |ath| %>
      <%= ath.label :name %>  
      <%= ath.text_field :name %><br>
      <%= ath.label :team %>
      <%= ath.text_field :team %><br>
      <%= ath.label :active %>
      <%= ath.check_box :active %><br>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>