<% if @athlete %>
    <h2>Here's the memorabilia you have of <%= @athlete.name %></h2>
    <%= form_tag athlete_memorabilias_path, method: :get do %>
       <%= render 'query' %>
    <% end %>
<% else %>
    <h2>Here these are what you have in your collection!!</h2>
    <%= form_tag memorabilias_path, method: :get do %>
       <%= render 'query' %>
    <% end %>
<% end %>

<% if @memorabilias.nil? %>
<h3>Please record your Memorabilia now!!</h3>
<% else %>
    <ul>
    <% @memorabilias.each do |m|%>
        <%= link_to "$#{m.price} - #{m.athlete.name}\'s #{m.item_type}", athlete_memorabilia_path(m.athlete, m) %>
        <%= link_to 'Edit', edit_athlete_memorabilia_path(m.athlete, m) %><br>
    <% end %>
    </ul>
    <%= link_to 'Cheap Memorabilias', memorabilias_cheap_path %>
<% end %>
<% if @athlete %>
    <%= link_to 'New Memorabilia', new_athlete_memorabilia_path(@athlete) %>
    <%= link_to 'Cheapest Memorabilia', athlete_memorabilias_cheapest_path(@athlete.id) %>
    <%= link_to "Back", athletes_path %>
<% else %>
    <%= link_to 'New Memorabilia', new_memorabilia_path %><br>
    <%= link_to 'Expensive Memorabilias', '/memorabilias/search_term/expensive' %>
<% end %>

