<h2><%= link_to @memorabilia.athlete.name, athlete_path(@memorabilia.athlete) %>'s <%= @memorabilia.item_type %></h1>
<p>Click the athlete's name above to visit their page</p>
<p>Price: </p>
<p>$<%= @memorabilia.price %></p><br>
<p>Autographed?: </p>
<p><%= @memorabilia.autographed.to_s.capitalize %></p>

<%= link_to 'Edit This Memorabilia',  edit_athlete_memorabilia_path(@memorabilia.athlete, @memorabilia) %><br>
<%= button_to "Delete This Memorabilia", athlete_memorabilia_path(@memorabilia.athlete_id, @memorabilia.id), method: :delete %><br>
<%= link_to "Back", athlete_memorabilias_path(@memorabilia.athlete) %>


