<h2><%= @memorabilia.athlete.name  %>'s <%= @memorabilia.item_type %></h1>

<p>Click the athlete's name below to visit their page</p>
<ul>
    <li>
        <%= link_to @memorabilia.athlete.name, athlete_path(@memorabilia.athlete) %>
    </li>
</ul>
<p>Price: </p>
<p>$<%= @memorabilia.price %></p><br>
<p>Autographed?: </p>
<p><%= @memorabilia.autographed %></p>
<%= link_to "Back", :back %>


