<h1>Create A New Athlete!</h1>

<%= form_for @athlete %>
    <br>
        <%= f.label :name %>
        <%= f.text_field :name %><br>
        <%= f.label :team %>
        <%= f.text_field :team %>
        <%= f.label :active %>
        <%= f.check_box_tag :active %>
    <br/>
    <%= f.submit %>
<% end %>

