<!DOCTYPE html>
<html>
  <head>
    <title>MyMemorabilia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/nav'%> 
  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
  <% end -%>
    <%= yield %>
  </body>
</html>
